.sidebar {
  width: 14%;
  .logo {
  }
  .menu {
    height: calc(100% - 3.2rem);
    padding: .5rem .4rem;
    overflow-y: auto;
    border-right: solid 1px #D3D8DE;
    .menuRow {
      display: flex;
      justify-content: space-between;
      cursor: pointer;
    }
  }
}
